@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500&family=Open+Sans:wght@300;500;700&display=swap');

/* 
====== 
Variables 
======
*/
:root {
  --primaryColor: #734ad7;
  --primarylightColor: #8a7fc5;
  --secondaryColor: #00cfde;
  --textLightColor: #9854ff;
  --textDarkColor: #221F30;
  --whiteColor: #ffffff;
  --lightShadow: 2px 5px 3px 0px rgba(6, 52, 255, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --primarygradient: linear-gradient(220deg,#9854FF 0%,#4529C7 100%);
  --mainBorderRadius: 0.25rem;
  --main-font-family: 'Comfortaa', cursive;
  --global-font-family: 'Open Sans', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: var(--global-font-family);
  background-color: #f0f4ff;
  overflow-x: hidden;
}

