#contact{
    position: relative;
    margin-top: 2rem;
}
.hiddenDiv{
    display: none;
}
.topWave img{
    width: 100%;
}
.contactDiv{
    position: absolute;
    width: 50%;
    padding-top: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contactDiv form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font-family);
    font-size: 1.5rem;
    color: white;
}
.contactDiv form h2{
    margin: 4rem 0rem 1.5rem 0rem;
}
.contactDiv form input{
    width: 100%;
    font-size: 1rem;
    padding: 0.6rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin: 1rem;
    text-align: center;
}
#btnContact{
    border: 1px solid white;
    padding: 0.5rem 2.2rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 1.25rem;
    background-color: white;
    margin-top: 1.3rem;
    border-radius: 0.2rem;
}
#btnContact:hover{
    border: 1px solid var(--primaryColor);
    color: white;
    background-color: var(--primaryColor);
}
.contactTitle{
    position: absolute;
    top: 8rem;
    left: 5rem;
    margin-bottom: 6rem;
}
.contactTitle h3{
    color: #dfdbff;
    font-family: "Open Sans",Sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    line-height: 32px;
    margin: 1rem 0rem;
}
.contactTitle div{
    width: 70%;
}
.contactTitle div h2{
    font-family: var(--main-font-family);
    color: white;
    font-size: 33px;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    margin-bottom: 0.5rem;
}
.contactTitle div p{
    text-align: left;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}
.contactSocialMedia{
    position: absolute;
    right: 10rem;
    top: 12.5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.contactSocialMedia a img{
    width: 2.5rem;
    transition: width 0.5s;
}
.contactSocialMedia a img:hover{
    width: 2rem;
}
.disableBtn{
    background-color: #9f90c3 !important;
    color: #d8d7db !important;
    cursor: not-allowed;
}